<form class="slds-form_stacked" (ngSubmit)="onSubmit()" #taskForm="ngForm">
  <div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_1-of-1 slds-p-around_x-small">
      <div class="slds-form-element">
        <label class="slds-form-element__label" for="task-title">Task Title *</label>
        <div class="slds-form-element__control">
          <input type="text" 
                 id="task-title" 
                 class="slds-input" 
                 [(ngModel)]="formData.title" 
                 name="title" 
                 placeholder="Enter task title" 
                 required
                 #titleInput="ngModel">
        </div>
        <div class="slds-form-element__help" *ngIf="!formData.title && titleInput.touched">
          Title is required
        </div>
      </div>
    </div>
    
    <div class="slds-col slds-size_1-of-1 slds-p-around_x-small">
      <div class="slds-form-element">
        <label class="slds-form-element__label" for="task-description">Description</label>
        <div class="slds-form-element__control">
          <textarea id="task-description" 
                    class="slds-textarea" 
                    [(ngModel)]="formData.description" 
                    name="description" 
                    placeholder="Enter task description"></textarea>
        </div>
      </div>
    </div>
    
    <div class="slds-col slds-size_1-of-1 slds-p-around_x-small">
      <div class="slds-form-element">
        <div class="slds-checkbox">
          <input type="checkbox" 
                 id="task-completed" 
                 class="slds-checkbox__node" 
                 [(ngModel)]="formData.completed" 
                 name="completed">
          <label class="slds-checkbox__label" for="task-completed">
            <span class="slds-checkbox_faux"></span>
            <span class="slds-form-element__label">Mark as Completed</span>
          </label>
        </div>
      </div>
    </div>
    
    <div class="slds-col slds-size_1-of-1 slds-p-around_x-small">
      <div class="slds-form-element">
        <div class="slds-button-group" role="group">
          <button type="submit" 
                  class="slds-button slds-button_success" 
                  [disabled]="!formData.title">
            {{ task && task.id ? 'Update Task' : 'Add Task' }}
          </button>
          <button type="button" 
                  class="slds-button slds-button_neutral" 
                  (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
